VSCE_PAT=replace_with_marketplace_pat
NPM_TOKEN=replace_with_npm_token
GH_TOKEN=replace_with_github_token_for_homebrew_tap
HOMEBREW_TAP_TOKEN=replace_with_github_token_for_homebrew_tap_traffic
RESEND_API_KEY=replace_with_resend_api_key
RESEND_FROM_EMAIL=stats@kibitz.sh
ALERT_EMAIL_TO=vasilytrofimchuk@gmail.com
